<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-css-only/css/bootstrap.css">
    <style>
        body {
            padding-top: 60px;
        }
        /*input.ng-invalid.ng-dirty {*/
            /*background-color: #FA787E;*/
        /*}*/

        /*input.ng-valid.ng-dirty {*/
            /*background-color: #78FA89;*/
        /*}*/
    </style>
    <script src="assets/angular/angular.js"></script>
    <script src="assets/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="../src/01_Module.js" type="text/javascript"></script>
    <script src="../src/02_AiwFormParams.js" type="text/javascript"></script>
    <script src="../src/03_AiwBootstrapParams.js" type="text/javascript"></script>
    <script src="../src/04_AiwFormGeneratorService.js" type="text/javascript"></script>
    <script src="../src/05_AiwValidationService.js" type="text/javascript"></script>
    <script src="../src/06_UpdateAttributesDirective.js" type="text/javascript"></script>
    <script src="../src/07_AiwFormGeneratorDirective.js" type="text/javascript"></script>
    <script>
        var app = angular.module('myApp', ['ui.bootstrap', 'AiwFormGeneratorModule'])

        app.controller('testController', function ($scope, $http, AiwBootstrapParams) {

            $scope.result = {gbye:'hji'};
            $scope.testForm = new AiwBootstrapParams('aaa').init();
            $scope.testForm.setTemplate('TEstForm<form  name="aaaForm"><div [|loop|]>[|label|]---[|fields|]<br/><br/></div><br/>{{aaaForm|json}}</form>')
                    .setView('../lib/view/aiwFormGeneratorBootstrap')
                    .addField({type: 'text', label: 'Hello', fieldName: 'hello',required:true}, {"ng-required":true,"name":'hello'})
                    .addField({type: 'text', label: 'gbye', fieldName: 'gbye',validation:{type:'numeric',min:0,max:10}}, {"name":'gbye'});

            $scope.result1 = {};
            $scope.aaa = new AiwBootstrapParams('aas').init();
            $scope.aaa.setTemplate('TEstForm 1<form name="aasForm"><div [|loop|]>[|label|][|fields|]</div></form>')
                    .setView('../lib/view/aiwFormGeneratorBootstrap')
                    .addField({type: 'text', label: 'Bye', fieldName: 'Bye'}, {});
            $scope.alert = function () {
                alert('');
            }
            $scope.tetet = "aaaa";
        });</script>
</head>
<body ng-app="myApp">
<div ng-controller="testController">
    {{title}}{{$directive.tetet}}
    hello!
    <div ng-model="result" form-params="testForm" aiw-form-generator>adasdsad</div>
    <!--<div ng-model="result1" form-params="aaa" aiw-form-generator>adasdsad</div>-->

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="clearfix"></div>
    <pre>result:{{result|json}}</pre>
    <pre>{{aasForm}}</pre>


    <pre>result1:{{result1|json}}</pre>
</div>
</body>
</html>
